In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
weather_df = pd.read_csv("../output_data/cities.csv")
weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature (F),Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,0,busselton,-33.65,115.33,76.51,79.00,20,0,8.99
1,1,saint-philippe,-21.36,55.77,72.79,77.00,88,0,6.93
2,2,bambous virieux,-20.34,57.76,77.45,78.01,88,75,9.17
3,3,lebu,-37.62,-73.65,59.02,59.02,71,0,8.63
4,4,poum,-20.23,164.02,79.88,79.88,84,100,38.72

In [3]:
gmaps.configure(api_key=g_key)
coord = weather_df[['Latitude', 'Longitude']]

In [4]:
figure_layout = {'width' : '800px', 'height' : '600px', 'border' : '1px solid black', 'padding' : '1px',
                 'margin' : '0 auto 0 auto'}
fig = gmaps.figure(layout = figure_layout)
humidity = gmaps.heatmap_layer(coord, weights = weather_df['Humidity (%)'], dissipating = False, max_intensity = 100, point_radius = 5)
fig.add_layer(humidity)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [5]:
vacation_cities_df = weather_df.loc[(weather_df['Max Temperature (F)'] > 70) & (weather_df['Max Temperature (F)'] < 80) &
                                    (weather_df['Wind Speed (MPH)'] < 10) & (weather_df['Cloudiness (%)'] == 0)]
vacation_cities_df

,Unnamed: 0,City,Latitude,Longitude,Temperature (F),Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,0,busselton,-33.65,115.33,76.51,79.00,20,0,8.99
1,1,saint-philippe,-21.36,55.77,72.79,77.00,88,0,6.93
27,27,saint-pierre,-21.34,55.48,72.79,77.00,88,0,6.93
105,105,saint-joseph,-21.37,55.62,72.81,77.00,88,0,6.93
140,140,grand-santi,4.25,-54.38,71.47,71.47,82,0,4.03
158,158,jalingo,8.88,11.37,73.13,73.13,23,0,8.03
201,201,san patricio,19.22,-104.70,77.13,77.13,82,0,9.37
265,265,bafoulabe,13.81,-10.83,70.75,70.75,12,0,7.09
347,347,patea,-39.76,174.48,72.09,73.99,62,0,3.00
354,354,conakry,9.54,-13.68,72.72,72.72,83,0,5.61
389,389,saint-louis,16.33,-15.00,73.40,73.40,23,0,2.24
410,410,teknaf,20.86,92.31,75.40,75.40,38,0,2.39
414,414,namibe,-15.20,12.15,74.71,74.71,69,0,4.81
480,480,sokode,8.98,1.13,70.07,70.07,24,0,3.49

In [6]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

In [8]:
hotels = []
countrys = []
#updated radius due to getting 'list index out of range' error 
radius = 20000

for lat, lon in zip(vacation_cities_df['Latitude'], vacation_cities_df['Longitude']):
    
    query_url = f'{base_url}location={lat},{lon}&radius={radius}&type=hotel&key={g_key}'
    response = requests.get(query_url).json()
    
    try:
        hotels.append(response['results'][1]['name'])
        countrys.append(response['results'][1]['plus_code']['compound_code'])
    except TypeError:
        print('failed')
        
countrys

['983X+CF Busselton, Western Australia, Australia',
 'MJPR+WH La Plaine des Cafres, RÃ©union',
 'MJPR+WH La Plaine des Cafres, RÃ©union',
 'MJPR+WH La Plaine des Cafres, RÃ©union',
 '7J29+74 Grand-Santi, French Guiana',
 'V9VG+5V Jalingo, Nigeria',
 '6849+QX Barra de Navidad, Jalisco, Mexico',
 'Q552+MV Mahina, Mali',
 '6FVF+MX Patea, Taranaki, New Zealand',
 'G8P8+6G Conakry, Guinea',
 'FXRP+WV Tieole, Senegal',
 'R9F6+75 Maungdaw, Myanmar (Burma)',
 'Q5R5+3G Namibe, Angola',
 'X4PP+5R Sokode, Togo']

In [9]:
vaca_country = []
for country in countrys:
    split_country = country.split(',')
    vaca_country.append(split_country[-1])
vaca_country

[' Australia',
 ' RÃ©union',
 ' RÃ©union',
 ' RÃ©union',
 ' French Guiana',
 ' Nigeria',
 ' Mexico',
 ' Mali',
 ' New Zealand',
 ' Guinea',
 ' Senegal',
 ' Myanmar (Burma)',
 ' Angola',
 ' Togo']

In [10]:
vacation_cities_df['Hotel Name'] = hotels
vacation_cities_df['Country'] = vaca_country
vacation_cities_df

C:\Users\Kaan\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Kaan\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Latitude,Longitude,Temperature (F),Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Hotel Name,Country
0,0,busselton,-33.65,115.33,76.51,79.00,20,0,8.99,Observatory Guest House,Australia
1,1,saint-philippe,-21.36,55.77,72.79,77.00,88,0,6.93,Cascade de Grand Galet,RÃ©union
27,27,saint-pierre,-21.34,55.48,72.79,77.00,88,0,6.93,Cascade de Grand Galet,RÃ©union
105,105,saint-joseph,-21.37,55.62,72.81,77.00,88,0,6.93,Cascade de Grand Galet,RÃ©union
140,140,grand-santi,4.25,-54.38,71.47,71.47,82,0,4.03,HÃ´tel La Villa Couacou,French Guiana
158,158,jalingo,8.88,11.37,73.13,73.13,23,0,8.03,Polaris Bank Limited,Nigeria
201,201,san patricio,19.22,-104.70,77.13,77.13,82,0,9.37,Hotel Cabo Blanco,Mexico
265,265,bafoulabe,13.81,-10.83,70.75,70.75,12,0,7.09,CAMARA Ã‰LECTRONIQUE MALITEL,Mali
347,347,patea,-39.76,174.48,72.09,73.99,62,0,3.00,Patea Te Kohanga Reo,New Zealand
354,354,conakry,9.54,-13.68,72.72,72.72,83,0,5.61,Donka Hospital,Guinea
389,389,saint-louis,16.33,-15.00,73.40,73.40,23,0,2.24,MosquÃ©e de TiÃ©olÃ©,Senegal
410,410,teknaf,20.86,92.31,75.40,75.40,38,0,2.39,Myanmar Post and Telecomunnication Office,Myanmar (Burma)
414,414,namibe,-15.20,12.15,74.71,74.71,69,0,4.81,PavilhÃ£o Welwitschia Mirabilis,Angola
480,480,sokode,8.98,1.13,70.07,70.07,24,0,3.49,DIRECTION RÃ‰GIONALE ODEF CENTRALE,Togo

In [11]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_cities_df.iterrows()]
locations = vacation_cities_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(locations,  fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2, info_box_content =  hotel_info)
fig.add_layer(hotel_layer)
fig

# Display Map

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦